#tribe-events .tribe-events-day {

  .tribe-events-day-time-slot {
    h5 {
      padding: 15px 4.5%;
      background: #444;
      color: #fff;
      margin: 0 0 40px;
      font-size: 1.5rem;
    }

    .type-tribe_events {
      margin: 0 0 40px;
      border: 1px solid #ccc;
      background: #fff;
    }

  }

}