/*
 Plugin overrides
 */


/*
 MASTER SLIDER
*/

// Remove existing arrows
.master-slider .ms-nav-next,
.master-slider .ms-nav-prev {
  background: none !important;
  color: #fff;
  font-size: 2.8125rem;
  font-weight: 200;
}

//Add new arrows
.master-slider .ms-nav-next:after {
  content: "\003e";
}
.master-slider .ms-nav-prev:after {
  content: "\003c";
}